<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hiwoo.mapper.MenuEnglishMapper" >
  <resultMap id="BaseResultMap" type="com.hiwoo.entity.MenuEnglish" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="guide" property="guide" jdbcType="VARCHAR" />
    <result column="i" property="i" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="INTEGER" />
    <result column="readStatus" property="readStatus" jdbcType="INTEGER" />
    <result column="editStatus" property="editStatus" jdbcType="INTEGER" />
    <result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER" />
    <result column="mid" property="mid" jdbcType="INTEGER" />

  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id,guide,i,pid,path,role,readStatus,editStatus,deleteStatus,mid
  </sql>

  <insert id="insertAndGetId" useGeneratedKeys="true" keyProperty="id" parameterType="com.hiwoo.entity.MenuEnglish">
    INSERT INTO menuEnglish (guide,i,pid,path,role,readStatus,editStatus,deleteStatus,mid) VALUE
    (guide = #{guide,jdbcType=VARCHAR},i = #{i,jdbcType=VARCHAR},pid = #{pid,jdbcType=INTEGER},path = #{path,jdbcType=VARCHAR},
    role = #{role,jdbcType=INTEGER},readStatus = #{readStatus,jdbcType=INTEGER},editStatus = #{editStatus,jdbcType=INTEGER},
    deleteStatus = #{deleteStatus,jdbcType=INTEGER},mid = #{mid,jdbcType=INTEGER})
  </insert>

</mapper>